/* кнопка */
.page-btn{
    background-color: white;
    color: rgb(58, 179, 249);
    border: 1px solid rgb(58, 179, 249);
    cursor: pointer;
    height: 2rem;
    width: 6rem;
}
.page-btn:hover{
    color: white;
    background-color: rgb(58, 179, 249);
}
.page-btn:active{
    cursor: default;
    background-color: white;
    color: rgb(58, 179, 249);
}

.hidden{
    display: none;
}