/* кнопка */
.page-btn{
    background-color: white;
    color: rgb(58, 179, 249);
    border: 1px solid rgb(58, 179, 249);
    cursor: pointer;
    height: 2rem;
    width: 6rem;
}
.page-btn:hover{
    color: white;
    background-color: rgb(58, 179, 249);
}
.page-btn:active{
    cursor: default;
    background-color: white;
    color: rgb(58, 179, 249);
}

.hidden{
    display: none;
    visibility: hidden;
}

.page-social-btn-text-delimiter{
    color: grey;
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 0;
}

.authvkForm{
    text-align: center;
}

.authvkForm__submit{
    background-image: url('../img/vk-logo.png');
    background-size: cover;
    background-color: white;
    width: 4rem;
    height: 4rem;
    border: none;
    cursor: pointer;
}

