*{
    font-family: Arial, Helvetica, sans-serif;
}

.loginWindow{
    width: 32rem;
    padding-bottom: 1rem;
}

.loginWindow__header{
    text-align: center;
}  

.loginWindow__form{
    text-align: center;
}

.loginWindow__input, .loginWindow__btn{
    margin-bottom: 1rem;
    width: 80%;
}

.loginWindow__input{
    padding: 0.5rem;
    font-size: 1.3rem;
    text-align: center;
}

.loginWindow__btn{
    background-color: rgb(240, 240, 240);
    cursor: default;
    padding: 0.5rem 0;
    border: 1px solid grey;
}

.loginWindow__btn:hover:not(:disabled){
    opacity: 0.75;
    cursor: pointer;
}
.loginWindow__btn:active{
    cursor: default;
}

.loginWindow__error{
    text-align: center;
    color: red;
    font-weight: bold;
    padding-top: 1rem;
}

.loginWindow__saveAuth{
    padding: 0;
    margin: 0;
    color:red;
}