.main-info__header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
}
.main-info{
    width: 60%;
    margin: auto;
}
.main-info__text{
    text-align: center;
}